html, body {
    position: relative;
    height: 100%;
}

body {
    padding: 50px 0 0 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url("https://subtlepatterns.com/patterns/seigaiha.png");
}

a {
    color: #00B7FF;
}

.nav-tabs {
    background: #f7f7f7;
}

.nav-tabs li a {
    border: none;
    margin-right: 0;
    border-radius: 0;
}

.nav-tabs li a:hover {
    border: none;
}

.nav-tabs li.active {
    background-color: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover .emoji-span {
    border: none !important;
}

.login-container {
    background-color: white;
    border-radius: 4px;
    max-width: 500px;
    padding: 0 !important;
    border: #cecece 1px solid;
}

.login-tab-content {
    padding: 15px 15px 5px 15px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}